<div style="padding: 1rem">
    <div class="filters">
        <label>
            Category:
            <select [(ngModel)]="filters.category" (change)="applyFilters()">
                <option value="">All</option>
                <option *ngFor="let category of uniqueCategories" [value]="category">
                    {{ category }}
                </option>
            </select>
        </label>
        <label>
            Min Price:
            <input type="number" [(ngModel)]="filters.minPrice" (change)="applyFilters()" />
        </label>
        <label>
            Max Price:
            <input type="number" [(ngModel)]="filters.maxPrice" (change)="applyFilters()" />
        </label>
        <label>
            Rating:
            <select [(ngModel)]="filters.rating" (change)="applyFilters()">
                <option value="">All</option>
                <option *ngFor="let r of [1, 2, 3, 4, 5]" [value]="r">{{ r }}+</option>
            </select>
        </label>

        <label>
            Keyword:
            <input type="text" [(ngModel)]="filters.keyword" (input)="applyFilters()"
                placeholder="Search name or description" />
        </label>
    </div>

    <div class="grid">
        <app-product-card *ngFor="
        let product of filteredProducts.slice(startIndex, startIndex + pageSize)
      " [product]="product"></app-product-card>
    </div>

    <div class="pagination" style="margin-top: 1rem; text-align: center">
        <button mat-button (click)="prevPage()" [disabled]="startIndex === 0">
            Previous
        </button>
        <button mat-button (click)="nextPage()" [disabled]="startIndex + pageSize >= filteredProducts.length">
            Next
        </button>
    </div>
</div>