.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .product-card {
    display: flex;
    flex-direction: column;
  }
  .filters label {
    margin-right: 1rem;
  }
  

  .stars mat-icon {
    vertical-align: middle;
    color: #FFD700;
  }